* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

body,
html {
    background: #090979;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 130px auto;

    color: white;
}

.container h1 {
    font-size: 40px;
}

.container h1 span {
    color: green;
    /* gap: 20px; */
    border-bottom: 4px solid green;
    padding-bottom: 7px;
}

.input-container {
    width: 100%;
    height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.input-container img {
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.input-container input {
    margin: 5px;
    width: 80%;
    height: 35px;
    font-size: 25px;
    /* margin-top: 20px; */
    border: none;
    outline: none;

}

.button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    margin-top: 20px;
    background: green;
    color: white;
    border: none;
    font-weight: 100;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}


.button-container button img {
    width: 18px;
    left: 5px;
    float: left;

}